
.tab_title {
  background: #f5f5f5;
  padding: .5rem 1rem .5rem 1rem;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9395a0;

  .arrow{
    border: solid #CCC;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}


::ng-deep .card-body{
  background-color: #fafafa;
}
.form_container{
  padding: 0;

  .form-group{
    margin-bottom: .5rem;
    .error{
      border: 1px solid red;
    }
    .form-control{
      resize: none;
      overflow: hidden;
      overflow-y: auto;
      position: relative;
      line-height: 1.5;
      &:focus{
          box-shadow: none;
          border: 1px solid #4e9be2;
      }
    }

    >label {
      margin-bottom: .5rem;
      color: #7b8eb0;
      span{
        color: red;
      }
    }

    .form-select{
      background-image: linear-gradient( 45deg, transparent 50%, #5a3c6b 50%), linear-gradient(
      135deg, #5a3c6b 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
          background-position: calc(100% - 20px) calc(1em + -2px), calc(100% - 15px) calc(1em + -2px), 100% 0;
          background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
          background-repeat: no-repeat;
      }

  }

}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
  max-height: 150px !important;
  overflow-y: auto;
}


// tooltip

::ng-deep .bs-tooltip-bottom .tooltip-arrow::before,
::ng-deep .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before{
  border-bottom-color:#ccc;
}
::ng-deep .bs-tooltip-top .tooltip-arrow::before,
::ng-deep .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before{
  border-top-color:#ccc;
}
::ng-deep .bs-tooltip-start .tooltip-arrow::before,
::ng-deep .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before{
  border-left-color:#ccc;
}
::ng-deep .bs-tooltip-end .tooltip-arrow::before,
::ng-deep .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before{
  border-right-color:#ccc;
}

::ng-deep .tooltip-inner{
    background-color: #f5f5f5 !important;
    color: #333;
    border: 1px solid #ccc;
    padding: 7px 10px;
    max-height: 140px;
    overflow-y: auto;
    min-width: 145px;
}
::ng-deep .tooltip-inner .deleteIcon{
  cursor: pointer;
}
::ng-deep .tooltip{
  pointer-events: initial !important;
}


.date_group{
  position: relative;
  height: auto;
  height: fit-content;
  .fa-calendar-alt{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #4e9be2;
  }
}

::ng-deep .ng-value-label{
  padding: 0px 5px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 16px;
}


::ng-deep .ng-value-label[ng-reflect-ng-item-label="high"]{
  color: red;
  border-color:red;

}

::ng-deep .ng-value-label[ng-reflect-ng-item-label="medium"]{
  color: #4e9be2;
  border-color:#4e9be2;

}

::ng-deep .ng-value-label[ng-reflect-ng-item-label="low"]{
  color: green;
  border-color: green;

}

::ng-deep .ng-select.ng-select-single .ng-select-container,
::ng-deep .ng-select .ng-select-container,
::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container{
  height: 38px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container{
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
    left: 0;
    padding-left: 0.65rem;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input{
  min-width: 14px;
}

.form-group .custom_select{
  width: calc(100% - 55px);
}


.disabled{
  pointer-events: none;
}
