<accordion [isAnimated]="true" class="mb-2">
  <accordion-group [isOpen]="false">
    <!-- task Heading -->
    <div class="task_list py-2 " accordion-heading>
      <div class="row justify-content-between w-100 mx-auto">
        <div class="col-2 ">
          <div class="d-flex align-items-start">
            <i class="fas arrow" [ngClass]="arrowClass" (click)="toggleTask()"></i>
            <h5 class="title" containerClass="tootipe_container" [tooltip]="task.title">{{task.title}}</h5>

          </div>
        </div>
        <div class="col-3 ">
          <div class="d-flex align-items-start">
            <div class="field_text">
              Assinged To
            </div>
            <ul class="list-group d-flex">
              <ng-container *ngFor="let assignee of task.assigne; let i=index">
                <li *ngIf="i < 2">{{assignee | apprev:2}}</li>
                <li class="counter" [tooltip]="assigneTooltip" placement="auto" *ngIf="i == 1">+{{task.assigne.length -2}}</li>
                <ng-template #assigneTooltip>
                  <div class="tooltip_content">
                    <div *ngFor="let assignee of task.assigne; let j=index">
                      <div *ngIf="j >= 2">{{assignee}}</div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>

            </ul>
          </div>
        </div>
        <div class="col-5 ">
          <div class="row d-flex align-items-start">
            <div class="col-6 d-flex align-items-start flex-wrap">
              <div class="field_text">
                <i class="far fa-calendar-alt"></i>
                <span class="d-inline-block ms-1">Due date</span>
              </div>
              <div class="date">
                {{(task.due_date | rangeDate)[0] | date:'dd/MM/YYYY' }} {{(task.due_date | rangeDate)[1] | date:'dd/MM/YYYY'}}
              </div>
            </div>
            <div class="col-6 d-flex align-items-start flex-wrap">
              <div class="field_text">
                <i class="far fa-calendar-alt"></i>
                <span class="d-inline-block ms-1">Reminder date</span>
              </div>
              <div class="date">
                {{task.reminder_date | date:'dd/MM/YYYY'}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 ">
          <div class="d-flex align-items-start justify-content-between">
            <div class="task_periority" [ngClass]="task.periority">
              {{task.periority}}
            </div>

            <div class="d-flex">
              <i (click)="deleteTask($event)" class="fas fa-times-circle text-secondary"></i>
              <i class="fas fa-pen text-secondary ms-2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- task details -->
    <div class="row details">
      <div class="col-3">
        <p class="label mb-2">
          Description
        </p>
        <div class="description">
          {{task.description}}
        </div>
      </div>
      <div class="col-3">
        <p class="label mb-2">
          Bussiness Unit
        </p>
        <ul class="list-group d-flex">
          <!-- <li *ngFor="let selected_bussiness of task.bussiness_unit">
            {{selected_bussiness | apprev:2}}
          </li> -->

          <ng-container *ngFor="let bussiness_unit of task.bussiness_unit; let i=index">
            <li *ngIf="i < 2">{{bussiness_unit | apprev:2}}</li>
            <li class="counter" [tooltip]="bussiness_unitTooltip" placement="auto" *ngIf="i == 1">+{{task.bussiness_unit.length -2}}</li>
            <ng-template #bussiness_unitTooltip>
              <div class="tooltip_content">
                <div *ngFor="let bussiness_unit of task.bussiness_unit; let j=index">
                  <div *ngIf="j >= 2">{{bussiness_unit}}</div>
                </div>
              </div>
            </ng-template>
          </ng-container>

        </ul>
      </div>
      <div class="col-3">
        <p class="label mb-2">
          Department
        </p>
        <ul class="list-group d-flex">
          <!-- <li *ngFor="let selected_department of task.department">
            {{selected_department | apprev:2}}
          </li> -->

          <ng-container *ngFor="let department of task.department; let i=index">
            <li *ngIf="i < 2">{{department | apprev:2}}</li>
            <li class="counter" [tooltip]="departmentTooltip" placement="auto" *ngIf="i == 1">+{{task.department.length -2}}</li>
            <ng-template #departmentTooltip>
              <div class="tooltip_content">
                <div *ngFor="let department of task.department; let j=index">
                  <div *ngIf="j >= 2">{{department}}</div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </ul>
      </div>
      <div class="col-3">
        <p class="label mb-2">
          Follow up
        </p>
        <ul class="list-group d-flex">
          <!-- <li *ngFor="let selected_follow_up of task.follow_up">
            {{selected_follow_up | apprev:2}}
          </li> -->

          <ng-container *ngFor="let follow_up of task.follow_up; let i=index">
            <li *ngIf="i < 2">{{follow_up | apprev:2}}</li>
            <li class="counter" [tooltip]="follow_upTooltip" placement="auto" *ngIf="i == 1">+{{task.follow_up.length -2}}</li>
            <ng-template #follow_upTooltip>
              <div class="tooltip_content">
                <div *ngFor="let follow_up of task.follow_up; let j=index">
                  <div *ngIf="j >= 2">{{follow_up}}</div>
                </div>
              </div>
            </ng-template>
          </ng-container>

        </ul>
      </div>
    </div>
  </accordion-group>
</accordion>
