/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";

// custom scrollbar
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.card-header{
  padding: 0;
}
.tooltip_icon{
  color: #5fa0fc;
  background-color: #d9e7fa;
  border-radius: 50%;
  min-width: 35px;
  min-height: 35px;
  line-height: 33px;
  margin: 0 10px;
  text-align: center;
  user-select: none;
}
// ngselect style
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border: none;
  border-radius: 50%;
  background: #fff;
  color: #5fa0fc;
  font-weight: bold;
  border: 0;
  width: 15px;
  height: 15px;
  line-height: .83;
  padding: 0;
  text-align: center;
  order: 1;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5fa0fc;
  color: #FFF;
  font-weight: 600;
  padding: 0px 5px;
  border-radius: 15px;
}


